// mix-ins

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


header {
  background: lightblue;

  // mix-in include
  @include flexCenter();
  
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: darkred;
    }
    &::after{
      content: " after";
      font-style: italic;
    }
    &::before{
      content: "before ";
      font-style: italic;
    }
  } 
}