// Sass features (that don't exist in CSS yet):
//   - variables (check)
//   - nesting (check)
//   - partials (check)
//   - mixins (check)
//   - inheritance

// partials - scss files that need to be imported
// filename structure: "_filename.scss"
// need @use or @import to use partials

// mix-in
@mixin border-radius($radius) {
  border-radius: $radius;
}

@import "./variables";
@use "./header";

button {
  @include border-radius(5px);
  padding: 10px;
}

.contact button {
  background: $primaryBtn;
}

// "flexCenter" mix-in imported from "_header.scss"  
.contact{
  @include flexCenter;
}
